

body {
    background-image: url(../images/bookstore.jpeg);
    background-size: cover;
}

h3 {
    text-align: center;
}

#Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
}

/* navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #d80e0e;
}

.main{
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

p {
    text-align: center;
    background-color: lightgrey;
    width: 400px;
    height: 70px;
    border: 15px lightgrey;
    padding: 50px lightgrey;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    background-color: lightgrey;
    padding: 10px;
    margin: 200px;
}

.container > div {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
